results/* filter=lfs diff=lfs merge=lfs -text
saved_model/* filter=lfs diff=lfs merge=lfs -text
results filter=lfs diff=lfs merge=lfs -text
saved_model filter=lfs diff=lfs merge=lfs -text
env/** filter=lfs diff=lfs merge=lfs -text
results/** filter=lfs diff=lfs merge=lfs -text
saved_model/** filter=lfs diff=lfs merge=lfs -text
